body {
background-image: url('../img/fonas.jpg');
background-position: top;
background-repeat: no-repeat;
background-size: cover;
backdrop-filter: blur(10px);
}
.container {
  display: inline-block;
  margin-top: 100px;
  width: 800px;
  margin-left: calc((100% - 800px)/2);
}

.left-column {
  display:inline-block
  width:40%;
  float:left;

}

.main-title {

}

.bottom-links {

}

.bottom-links > a {

}

.bottom-links > span {

}

.right-column {

}

.close {

}

.form {

}