body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
background-image: url('../img/fonas.jpg');
background-position: top;
background-repeat: no-repeat;
background-size: cover;
backdrop-filter: blur(10px);
}
.container {
  display: inline-block;
  width: 800px;
  margin: 100px calc((100% - 800px) / 2) 0;
}

.left-column {
  width:40%;
  padding: 40px;
  float:left;
  border:white solid 1px;
  color: #fff;
}

.main-title {

}

.bottom-links {

}

.bottom-links > a {
color: white;
}

.bottom-links > span {

}

.right-column {
  width: 60%;
  padding: 60px;
  float: left;
  background-color: white;
}

.close {
  float: right;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(187, 182, 182);
}

.form {
  display: inline-block;
  width: 100%;
}

.form-row {
display: inline-block;
width: 100%;
}

.form-row + .form-row {
  margin-top: 40px;
}

label {
  display: inline-block;
  width: 100%;
  color: grey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

input {
  display: inline-block;
  width: 100%;
  font-size: 19px;
  line-height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: grey;
  font-weight: lighter;
}

button {
float: left;
color: white;
padding: 10px 30px;
line-height: 20px;
font-size: 19px;
border-radius: 21px;
border: 1px solid #0045a7;
background-color: #015cda;
}

.form-row > span {
  float: left;
  line-height: 20px;
  padding: 11px;
}

.form-row > a {
  float: left;
  text-decoration: none;
  
  line-height: 20px;
  padding: 11px;
  color: #015cda;
}

